@import "./base.css";

body {
  background-repeat: no-repeat;
  background-position-x: right;
  background-position-y: top;
  background-size: 6em;
  margin: 0;
  background-color: #000000;
  color: #ffffff;
  overflow-x: hidden;
}

@media (min-width: 720px) {
  body {
    background-size: 9em;
    margin: 0;
    overflow-x: hidden;
  }
}
